.vscode/
build/
build-wasm/
human/
human_cif/
_skbuild/
foldcomp.egg-info/
dist/

# Test files
test/out
test/dir_test_input_fcz
test/tar_test_input.tar_fcz
test/gz_test_input.tar.gz_fcz
test/dir_test_input_fcz_pdb
test/example_db_pdb
test/fcz_list.txt_pdb
test/pdb_list.txt_fcz

compressed.fcz
decompressed.pdb
compressed_cif.fcz
decompressed_cif.pdb

*.pyc
*.so

.DS_Store

